# Auto detect text files and perform LF normalization
* text=auto
ArtifactDB filter=lfs diff=lfs merge=lfs -text
.index filter=lfs diff=lfs merge=lfs -text
.dylib filter=lfs diff=lfs merge=lfs -text
P:/Office/Documents/Unity[[:space:]]Hub[[:space:]]Saves/MinMaxedARPG/PackageCache/com.unity.burst@1df634d836b8/.Runtime/libburst-llvm-19.dylib filter=lfs diff=lfs merge=lfs -text
[200~P:/Office/Documents/Unity[[:space:]]Hub[[:space:]]Saves/MinMaxedARPG/Search/98957a664bd18c47a3e41b2a0189ef53.SearchIndexArtifactImporter.196609.b.index~ filter=lfs diff=lfs merge=lfs -text
[200~P:/Office/Documents/Unity[[:space:]]Hub[[:space:]]Saves/MinMaxedARPG/ArtifactDB~ filter=lfs diff=lfs merge=lfs -text
P:/Office/Documents/Unity[[:space:]]Hub[[:space:]]Saves/MinMaxedARPG filter=lfs diff=lfs merge=lfs -text
PackageCache/com.unity.burst@1df634d836b8/.Runtime/libburst-llvm-19.dylib filter=lfs diff=lfs merge=lfs -text
Search/98957a664bd18c47a3e41b2a0189ef53.SearchIndexArtifactImporter.196609.b.index filter=lfs diff=lfs merge=lfs -text
